<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ctitle }}</title>
</head>
<body>
    <h1>
        {{ content }}
    </h1>


    <p>
        {{ obj.name }}
    </p> 
    <p>
        {{ obj.age }}
    </p> 

    <p>
        {{ obj.name }}  {{ obj.age }}
    </p> 



    <p>
        {%  if name === 'tom' %}
            hello tom
        {%  endif %}

    </p>


    <P>
        {%  if name === 'tom' %}
            hello tom

        {%  elseif name === 'leo' %}
        hello leo

        {% else %}

        hello guys

        {%  endif %}
    </P>


    <ul>
        {% for key,val in arr %}

            <li>{{ key }}  {{ val }}</li>

        {% endfor %}
    </ul>
</body>
</html>