<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="lib/css/bootstrap.min.css">
  {% block head %}{% endblock %}

  {% block title %}
    <title>我的博客</title>
  {% endblock %}

</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" id="kuazhu">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand link" href="index.html" target="_blank">我的个人博客</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#" target="_blank">首页<span class="sr-only">(current)</span></a></li>
        <li><a href="list.html" target="_blank">HTML/CSS</a></li>
        <li><a href="list.html" target="_blank">JavaScript</a></li>
        <li><a href="list.html" target="_blank">学无止境</a></li>
        <li><a href="list.html" target="_blank">我的足迹</a></li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<main>
  <div class="container">
    <div class="row">
        <div class="col-md-8">

<!-- 轮播图开始 -->
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="images/DC.jpg" alt="...">
            </div>
            <div class="item">
              <img src="images/mw.jpg" alt="...">
            </div>
            <div class="item">
              <img src="images/dzr.jpg" alt="...">
            </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
<!-- 轮播图结束 -->

        <div class="panel panel-default">
        <div class="panel-heading"><a href="detail.html" target="_blank" class="link"><h4 class="panel-title1">移动设备优先</h4></a></div>
        <div class="panel-body">
          <p>Bootstrap是美国Twitter公司的设计师Mark Otto和Jacob Thornton合作基于HTML、CSS、JavaScript 开发的简洁、直观、强悍的前端开发框架，使得 Web 开发更加快捷。Bootstrap提供了优雅的HTML和CSS规范，它即是由动态CSS语言Less写成。Bootstrap一经推出后颇受欢迎，一直是GitHub上的热门开源项目，包括NASA的MSNBC（微软全国广播公司）的Breaking News都使用了该项目。 [1]国内一些移动开发者较为熟悉的框架，如WeX5前端开源框架等，也是基于Bootstrap源码进行性能优化而来。</p>
        </div>
        <div class="panel-footer">
          <span class="glyphicon glyphicon-user"></span>
          <span class="text-muted">吴彦祖</span>
          <span class="glyphicon glyphicon-th-list"></span>
          <span class="text-muted">JavaScript</span>
          <span class="glyphicon glyphicon-time"></span>
          <span class="text-muted">2019-11-17</span>
          <span class="glyphicon glyphicon-home"></span>
          <span class="text-muted">浏览量1000+</span>
        </div>        
      </div>
        <div class="panel panel-default">
        <div class="panel-heading"><a href="detail.html" target="_blank" class="link"><h4 class="panel-title1">移动设备优先</h4></a></div>
        <div class="panel-body">
          <p>Bootstrap是美国Twitter公司的设计师Mark Otto和Jacob Thornton合作基于HTML、CSS、JavaScript 开发的简洁、直观、强悍的前端开发框架，使得 Web 开发更加快捷。Bootstrap提供了优雅的HTML和CSS规范，它即是由动态CSS语言Less写成。Bootstrap一经推出后颇受欢迎，一直是GitHub上的热门开源项目，包括NASA的MSNBC（微软全国广播公司）的Breaking News都使用了该项目。 [1]  国内一些移动开发者较为熟悉的框架，如WeX5前端开源框架等，也是基于Bootstrap源码进行性能优化而来。</p>
        </div>
        <div class="panel-footer">
          <span class="glyphicon glyphicon-user"></span>
          <span class="text-muted">吴彦祖</span>
          <span class="glyphicon glyphicon-th-list"></span>
          <span class="text-muted">JavaScript</span>
          <span class="glyphicon glyphicon-time"></span>
          <span class="text-muted">2019-11-17</span>
          <span class="glyphicon glyphicon-home"></span>
          <span class="text-muted">浏览量1000+</span>
        </div>        
      </div>
        <div class="panel panel-default">
        <div class="panel-heading"><a href="detail.html" target="_blank" class="link"><h4 class="panel-title1">移动设备优先</h4></a></div>
        <div class="panel-body">
          <p>Bootstrap是美国Twitter公司的设计师Mark Otto和Jacob Thornton合作基于HTML、CSS、JavaScript 开发的简洁、直观、强悍的前端开发框架，使得 Web 开发更加快捷。Bootstrap提供了优雅的HTML和CSS规范，它即是由动态CSS语言Less写成。Bootstrap一经推出后颇受欢迎，一直是GitHub上的热门开源项目，包括NASA的MSNBC（微软全国广播公司）的Breaking News都使用了该项目。 [1]  国内一些移动开发者较为熟悉的框架，如WeX5前端开源框架等，也是基于Bootstrap源码进行性能优化而来。</p>
        </div>
        <div class="panel-footer">
          <span class="glyphicon glyphicon-user"></span>
          <span class="text-muted">吴彦祖</span>
          <span class="glyphicon glyphicon-th-list"></span>
          <span class="text-muted">JavaScript</span>
          <span class="glyphicon glyphicon-time"></span>
          <span class="text-muted">2019-11-17</span>
          <span class="glyphicon glyphicon-home"></span>
          <span class="text-muted">浏览量1000+</span>
        </div>
        <nav aria-label="Page navigation">
          <ul class="pagination">
            <li>
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>            
      </div>            
        </div>

        <div class="col-md-4">
          <div class="ad">
            <a href="#" class="thumbnail">
              <img src="images/coffee.jpg" alt="...">
            </a>
          </div>
          <div class="ad">
            <a href="#" class="thumbnail">
              <img src="images/book.jpg" alt="...">
            </a>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">博主介绍</h3>
            </div>
            <div class="panel-body">
              <a href="javascript:;"><img src="images/wyz.jpg" alt=""></a>
              <p id="wyz">吴彦祖（Daniel Wu），1974年9月30日出生于美国旧金山，华语影视男演员、导演、制片人，毕业于美国俄勒冈大学。1998年出演了个人首部电影作品《美少年之恋》，从而踏入演艺圈；同年，凭借文艺片《玻璃之城》提名第18届香港电影金像奖最佳新演员。2001年，主演文艺片《游园惊梦》。2003年，凭借动作片《旺角黑夜》提名第24届香港电影金像奖最佳男主角；同年，首次担任电影监制并主演了惊悚片</p>
            </div>
          </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">点击排行</h3>
          </div>
          <div class="panel-body1">
              <ul id="news">
                <li class="new-item"><a href="detail.html" class="link text-ellipsis">1年交税30亿!美国女政客想"劫富济贫"，身价519亿的NBA首富也慌了</a></li>
                <li class="new-item"><a href="detail.html" class="link text-ellipsis">1年交税30亿!美国女政客想"劫富济贫"，身价519亿的NBA首富也慌了</a></li>
                <li class="new-item"><a href="detail.html" class="link text-ellipsis">1年交税30亿!美国女政客想"劫富济贫"，身价519亿的NBA首富也慌了</a></li>
                <li class="new-item"><a href="detail.html" class="link text-ellipsis">1年交税30亿!美国女政客想"劫富济贫"，身价519亿的NBA首富也慌了</a></li>
                <li class="new-item"><a href="detail.html" class="link text-ellipsis">1年交税30亿!美国女政客想"劫富济贫"，身价519亿的NBA首富也慌了</a></li>
              </ul>
          </div>
        </div>

          <div class="panel panel-default">
            <div class="panel-heading">扫码关注我</div>
            <div class="panel-body">
              <a href="javascript:;"><img src="images/ewm.jpg" alt="" class="ewm"></a>
            </div>
          </div>              
        </div>      
    </div>

  </div>
</main>
<footer>
  Blog Design by <a href="#">kuahzu</a> <a href="#">渔ICP备11002373号-1</a>
</footer>
</body>
<script src="js/jquery-1.12.4.js"></script>
<script src="lib/js/bootstrap.min.js"></script>
{% block footer %}{% endblock %}
</html>